@{
    ViewBag.Title = "Admin";
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simplecontrols.js"></script>
    <script src="~/js/app-admin.js"></script>
    <script src="~/js/adminController.js"></script>
    <script src="~/js/productEditorController.js"></script>
}
<div class="row" ng-app="app-admin">

    <div ng-view></div>
</div>