@model IEnumerable<Fubar.Models.Ticket>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simplecontrols.js"></script>
}
<div class="row">
    <div class="col-md-6">
        <h2>Fubar</h2>
        <p>What's wrong?</p>
        <div ng-app="index" ng-controller="indexController">
            <form>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label>Product</label>
                    @*<select ng-model="selectedProduct" ng-options="product.id as product.name in products" class="form-control">
                        <option value="">Select Product</option>
                    </select>*@
                    @*<p>Selected Product: <b>{{selectedProduct}}</b></p>*@
                    

                    <input class="form-control" />
                </div>
                <div><input type="submit" value="Add" class="btn btn-success" /></div>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Coming soon!</h2>
        <ul>
            @foreach (var ticket in Model)
            {
                <li>@ticket.Summary (@ticket.DateSubmitted.ToShortDateString())</li>
            }
        </ul>
    </div>

</div>