@{
    ViewBag.Title = "Ticket";
}
@section Scripts {
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
<script src="~/js/simplecontrols.js"></script>
<script src="~/js/app-ticket.js"></script>
<script src="~/js/ticketClientController.js"></script>
}
<div class="row" ng-app="app-ticket">
    <div ng-view></div>
</div>
