<div class="col-md-6 col-md-offset-3">
    <h2>Ticket</h2>
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <form novalidate name="newTicketForm" ng-submit="vm.addTicket()">
        <div class="form-group">
            <label for="summary">Summary</label>
            <input class="form-control" type="text"
                   id="summary" name="summary" ng-model="vm.newTicket.summary"
                   required ng-maxlength="255" ng-minlength="5" />
            <span ng-show="newTicketForm.summary.$error.required"
                  class="text-warning">Summary is required.</span>
            <span ng-show="newTicketForm.summary.$error.minlength"
                  class="text-warning">Summary must be at least five characters.</span>
            <span ng-show="newTicketForm.summary.$error.maxlength"
                  class="text-warning">Summary must be less than 255 characters.</span>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      id="description" name="description" ng-model="vm.newTicket.description" />
        </div>

        <div class="panel panel-default">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <select ng-model="vm.newTicket.CategoryId" ng-options="category.id as category.name for category in categories" id="category" name="category"><option value="">Select Category</option></select>
                    <h5>Debug - selected: {{vm.newTicket.CategoryId}}</h5>
                </div>

                <div class="form-group col-md-6">
                    <label for="severity">Severity</label>
                    <select ng-model="vm.newTicket.SeverityId" ng-options="severity.id as severity.name for severity in severities" id="severity" name="severity"><option value="">Select Severity</select>
                    <h5>Debug - selected: {{vm.newTicket.SeverityId}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="priority">Priority</label>
                    <select ng-model="vm.newTicket.PriorityId" ng-options="priority.id as priority.name for priority in priorities" id="priority" name="priority"><option value="">Select Priority</select>
                    <h5>Debug - selected: {{vm.newTicket.PriorityId}}</h5>
                </div>

                <div class="form-group col-md-6">
                    <label for="resolution">Resolution</label>
                    <select ng-disabled="true" ng-model="vm.newTicket.ResolutionId" ng-options="resolution.id as resolution.name for resolution in resolutions" id="resolution" name="resolution"><option value="">Select Resolution</select>
                    <h5>Debug - selected: {{vm.newTicket.ResolutionId}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="resolution">Status</label>
                    <select ng-model="vm.newTicket.StatusId" ng-options="status.id as status.name for status in statuses" id="status" name="status"><option value="">Select Status</select>
                    <h5>Debug - selected: {{vm.newTicket.StatusId}}</h5>
                </div>

                <div class="form-group col-md-6">
                    <label for="product">Product</label>
                    <select ng-model="vm.newTicket.ProductId" ng-options="product.id as product.name for product in products" id="product" name="product"><option value="">Select Product</select>
                    <h5>Debug - selected: {{vm.newTicket.ProductId}}</h5>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="version">Version</label>
            <input class="form-control" type="text"
                   id="version" name="version" ng-model="vm.newTicket.version" />
        </div>

        <div class="form-group">
            <label for="stepsToReproduce">Steps To Reproduce</label>
            <input class="form-control" type="text"
                   id="version" name="version" ng-model="vm.newTicket.stepsToReproduce" />
        </div>

        <div class="form-group">
            <label for="additionalInformation">Additional Information</label>
            <input class="form-control" type="text"
                   id="version" name="version" ng-model="vm.newTicket.additionalInformation" />
        </div>

        <div class="form-group">
            <input type="submit" value="Create Ticket" class="btn btn-success btn-lg" ng-disabled="newTicketForm.$invalid" />
            <a href="\" class="btn btn-default btn-lg">Cancel</a>
        </div>
    </form>
</div>